<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkId=237468 -->
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Assistant.Properties.Settings"
        type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="AssistantConnectionString"
      connectionString="data source=.\SQLEXPRESS;initial catalog=Assistant;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient"/>
    <!--<add name="Assistant.Properties.Settings.AssistantConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Assistant;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <userSettings>
    <Assistant.Properties.Settings>
      <setting name="Kullanici" serializeAs="String">
        <value />
      </setting>
      <setting name="Sifre" serializeAs="String">
        <value />
      </setting>
      <setting name="ApplicationSkinName" serializeAs="String">
        <value>Metropolis</value>
      </setting>
      <setting name="Departman" serializeAs="String">
        <value>IT</value>
      </setting>
      <setting name="YedekKonumu" serializeAs="String">
        <value />
      </setting>
    </Assistant.Properties.Settings>
  </userSettings>
  <system.data>
    <DbProviderFactories>
    </DbProviderFactories>
  </system.data>
</configuration>